black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
scipy
structlog
rich
toml
pandas
numpy
tensorflow
tensorflow-probability
tf-keras
pymmwr
polars
pyarrow
timeseriesutils@git+https://github.com/reichlab/timeseriesutils/
jacques@git+https://github.com/reichlab/jacques
-e .
